
@{
    ViewBag.Title = "Update";
}

@{ 
    bool CheckGender(string g) {
        if (Model.Gender != null && Model.Gender == g) return true;
        return false;
    }
}

<h2>Update</h2>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="text" name="Email" value="@Model.Email" placeholder="Email" class="form-control" />
    Gender:
    <input type="radio" checked="@CheckGender("Male")" name="Gender" value="Male" /> Male
    <input type="radio" checked="@CheckGender("Female")" name="Gender" value="Female" /> Female
    <br />
    <input type="submit" value="Update" class="btn btn-primary" />
</form>
